body {
	background-color: darkgrey;
	padding: 10px;
}

header {
	background-color: black;
	margin: 10px;
	padding: 10px;
	color: white;
}

.principal {
	padding: 20px;

}

.alumnos {
	background-color: grey;
	margin: 10px;
	padding: 10px;
	
}

.alumno {
	background-color: lightgrey;
	margin: 10px;
	padding: 10px;

}

footer {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
}

.foto {
	width: 200px;
	height: auto;
}
